body {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1 {
  text-align: center;
  color: #04aa6d;
  margin: 2rem auto;
}

.container {
  width: 70%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 12px;
}

.slidecontainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.Red {
  background-color: red;
}
.Green {
  background-color: green;
}
.Blue {
  background-color: blue;
}
.slider {
  -webkit-appearance: none;
  height: 7px;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blueviolet;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
h2 {
  color: rgb(215, 7, 125);
  text-align: center;
  margin: 24px;
}
button {
  display: block;
  width: 7rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  margin-bottom: 12px;
}
p,
span {
  color: white;
  margin: 0 12px;
}
